@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Su cuenta contiene los datos personales que usted nos ha suministrado. Ésta página le permite descargar o eliminar esos datos.</p>
        <p>
            <strong>Eliminar estos datos, removerán permanentemente su cuenta, y la acción no podrá ser revertida.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Descargar</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Eliminar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}